<div class="container">
  

  <div class="top row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
      <h1 class="info-block-title">About the Author</h1>
    </div>
  </div>
  <p class="info-list">Matt Harris is a software engineer experienced in Ruby, Javascript and full stack web development. He has instructed students at several popular coding schools, including <a href="https://www.codecademy.com/">Codecademy</a> and <a href="https://devbootcamp.com/">Dev Bootcamp</a>. Currently, Matt is a full stack developer at<a href="https://www.concrn.org/"> Concrn</a>, a non profit that connects people in crisis to compassionate responders. You can check out Matt on social media below:</p>
  <br>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
      <a href="https://www.linkedin.com/in/matrharr
">
        <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:60px;color:#0077B5;"></i>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="https://github.com/matrharr">
        <i class="fa fa-github" aria-hidden="true" style="font-size:60px;color:#062f3c"></i>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="https://www.facebook.com/matt.harris.5473">
        <i class="fa fa-facebook-official" aria-hidden="true" style="font-size:60px;color:#3b5998;"></i>
      </a>
    </div>
    <div class="col-sm-3"></div>
  </div>
<br>
<br>
<div class="bottom row">
    <div class="col-sm-6">
      <h1 class="info-block-title">About The Plus Project</h1>    
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <img src="<%= asset_path( 'plusblack.png' ) %>">
      <img src="<%= asset_path( 'equalblack.png' ) %>">
    </div>
  </div>

  <p class="info-list">This site was originally created by Matt Harris as a way of documenting and publishing lectures he gave while instructing students at Dev Bootcamp, a 19 week intensive web development course.</p>
  
  
  <div class="bottom">
  <h1 class="info-block-title">Contact</h1>    
    <p class="info-list">Notice a code snippet, explanation or example that could be improved? Want to contribute? Question or comment? Contact <a href="mailto:matrharr@gmail.com?Subject=Hello%20there" target="_top">matrharr@gmail.com</a></p>
  </div>
</div>