<div class="container">
  <h1>About The Chronos Project</h1>

  <img src="">

  <p>This site was originally created by Matt Harris as a way of documenting and publishing lectures he gave while intructing students at Dev Bootcamp, a 19 week intensive web development course.</p>

  <h1>About the Author</h1>

  <img src="">

  <p>Matt Harris is a full stack web developer experienced in Ruby, Javascript and full stack web development. He has instructed students at several popular coding schools, including Codecademy and Dev Bootcamp. Currently, Matt works as a full stack developer for Concrn, a non profit that connects people in crisis to compassionate responders. </p>

  <p>Notice a code snippet, explanation or example that could be improved? Have questions or comments? Contact at matrharr@gmail.com</p>

</div>