<div class="container">

  <div class="info-block">
    <h1 class='info-block-title' style="text-align:center">Trying to up your developer game?</h1>
    <h3 class="info-block-title" style="text-align:center">Learn data structures, algorithms, design patterns and more completely free</h3>
    <p class="info-block-content">A lot of online content is either costly or complete nonsense. At the Chronos project, content is free, relevant to all levels of developers and focuses on unpacking stuffy terminology into the simple concepts they really are. </p>
  </div>

</div>
<br>

<div class="container">
  <div class="row">
    <div class='col-sm-4'>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
       <h5>Data Structures</h5>
      <p>Data structures are super important, like really so. You need to know what the fuck you are doing</p>
    </div>
    <div class='col-sm-4'>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <h5>Design Patterns</h5>
      <p>Data structures are super important, like really so. You need to know what the fuck you are doing</p>
    </div>
    <div class='col-sm-4'>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
       <h5>Algorithms</h5>
      <p>Data structures are super important, like really so. You need to know what the fuck you are doing</p>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-4'>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
       <h5>Ruby</h5>
      <p>Data structures are super important, like really so. You need to know what the fuck you are doing</p>
    </div>
    <div class='col-sm-4'>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <h5>Javascript</h5>
      <p>Data structures are super important, like really so. You need to know what the fuck you are doing</p>
    </div>
    <div class='col-sm-4'>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
       <h5>More!</h5>
      <p>Data structures are super important, like really so. You need to know what the fuck you are doing</p>
    </div>
  </div>
</div>