<div class="row">
<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= link_to @category.title, category_path(@category), :style => 'color:black;text-decoration:none'%></h2>
    <div class="container-fluid">

      <div class="row-fluid">
        <div class="col-sm-2 side-bar">
          <%= render 'categories/sidebar', posts: @category.posts.order('created_at ASC'), category: @category %>
        </div>
        <div class="col-sm-10 post-content">
          <%= render 'content', post: @post %>
        </div>
      </div>

    </div>
</div>
</div>