<div class="footer">
  <div class="row">
    <div class="col-sm-1">
      <%= link_to "Home", home_path, :class => "nav-el" %>
    </div>
    <div class="col-sm-1">
      <%= link_to "About", about_path, :class => "nav-el" %>
    </div>
    <div class="col-sm-1">
      <a href="https://www.linkedin.com/in/matrharr
">
        <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:30px;color:#0077B5;"></i>
      </a>
    </div>
    <div class="col-sm-1">
      <a href="https://github.com/matrharr">
        <i class="fa fa-github" aria-hidden="true" style="font-size:30px;color:#062f3c"></i>
      </a>
    </div>
    <div class="col-sm-1">
      <a href="https://www.facebook.com/matt.harris.5473">
        <i class="fa fa-facebook-official" aria-hidden="true" style="font-size:30px;color:#3b5998;"></i>
      </a>
    </div>
    <div class="col-sm-3">
      
    </div>
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-2">
      © 2016 Matt Harris
    </div>
  </div>
</div>