<div id="header">
  <div id="header-content">
    <div id="header-icon">
      <a href="/home" style="text-decoration:none !important;">
      <h1 style="color:black;"><strong>The Plus Project</strong></h1>
      <img src="<%= asset_path( 'circular.png' ) %>">
      </a>
    </div>
  </div>
</div>

 