<div id="header">
  <div id="header-content">
    <div id="header-icon">
      <a href="/home" style="text-decoration:none !important;">
      <h1 style="color:black;">The PLUS Projec+</h1>
      <img src="<%= asset_path( 'circular.png' ) %>">
      <br>
      <h4 style="color:black;"><strong>Add to your knowledge</strong></h4>
      </a>
    </div>
  </div>
</div>

 