<div id="header">
  <div id="header-content">
    <div id="header-icon">
      <a href="/home" style="text-decoration:none !important;">
      <h1 class="header-title"><strong>The Plus Project</strong></h1>
      <img src="<%= asset_path( 'pluswhite.png' ) %>">
      <img src="<%= asset_path( 'equalwhite.png' ) %>">
      </a>
    </div>
  </div>
</div>

 