<div id="header">
  <div id="header-content">
    <div id="header-icon">
      <img src="<%= asset_path( 'stairs128.png' ) %>">
      <br>
      <h1>The Chronos Project</h1>
    </div>
  </div>
</div>

 